.wrapper {
  display: flex;
  width: 500px;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;

  a {
    font-size: 20px;
    height: 30px;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
      color: red;
    }
  }
}
