@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  src: url(./assets/font/Roboto-Thin.ttf) format('ttf');
}
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
